<p-card class="w-full max-w-md mx-auto sm:w-full md:w-full overflow-hidden">
  <!-- Adjusted padding, space, and height for smaller card size -->
  <div class="p-2 h-full flex flex-col justify-between min-h-[152px] max-h-[152px]">
    <!-- Label at the top (unchanged) -->
    <label class="block xl:text-lg md:text-sm  font-semibold">رسم الحدود</label>

    <!-- First Row -->
    <div class="flex items-center justify-between">
      <div class="flex flex-col sm:flex-row items-center sm:justify-between w-full xl:gap-y-1  sm:gap-x-2">
        <!-- Reduced gap for compact layout -->
        <p class="xl:text-lg mobile:bg-red md:text-sm font-normal sm:flex-1 dark:text-white">مساحة رسم الأمانة</p>
        <!-- Adjusted text size for smaller card height -->
        <div class="flex items-center gap-x-[1rem]">
          <span class="text-[#1E552A] xl:text-sm sm:text-xs dark:text-[#887852]">{{ statistics.amanasArea.toFixed(2)
            }}</span>
          <span class="dark:text-white xl:text-lg md:text-sm"> كم²</span>
          <img [src]="isDarkMode ? 'assets/icons/square-icon-dark-mode.svg' : 'assets/icons/square-icon.svg'"
            alt="Number of places icon" class="xl:h-auto xl:w-auto md:h-5 md:w-5" />
          <!-- Reduced icon size for consistency -->
        </div>
      </div>
    </div>

    <!-- Second Row -->
    <div class="flex items-center justify-between">
      <div class="flex flex-col sm:flex-row items-center sm:justify-between w-full gap-y-1 sm:gap-x-2">
        <p class="xl:text-lg md:text-sm font-normal sm:flex-1 dark:text-white">مساحة الرسم الاستشاري</p>
        <div class="flex items-center gap-x-[1rem]">
          <span class="text-[#1E552A] xl:text-sm sm:text-xs dark:text-[#887852]">{{ statistics.consultantArea.toFixed(2)
            }} </span>
          <span class="dark:text-white xl:text-lg md:text-sm"> كم²</span>
          <img [src]="isDarkMode ? 'assets/icons/square-icon-dark-mode.svg' : 'assets/icons/square-icon.svg'"
            alt="Square icon" class="xl:h-auto xl:w-auto md:h-5 md:w-5" />
        </div>
      </div>
    </div>

    <!-- Third Row -->
    <div class="flex items-center justify-between">
      <div class="flex flex-col sm:flex-row items-center sm:justify-between w-full gap-y-1 sm:gap-x-2">
        <p class="xl:text-lg md:text-sm font-normal sm:flex-1 dark:text-white">الــفــرق بــيـن</p>
        <div class="flex items-center gap-x-[1rem]">
          <span class="text-[#1E552A] xl:text-sm sm:text-xs dark:text-[#887852]">{{ statistics.areaDiff.toFixed(2) }}
          </span>
          <span class="dark:text-white xl:text-lg md:text-sm">±كم²</span>
          <img [src]="isDarkMode ? 'assets/icons/plus-minus-icon-dark-mode.svg' : 'assets/icons/plus-minus-icon.svg'"
            alt="Plus minus icon" class="xl:h-auto xl:w-auto md:h-5 md:w-5" />
        </div>
      </div>
    </div>
  </div>
</p-card>
