<header
  class="flex items-center justify-between header   px-4"
[ngStyle]="{ 'background-color': preference.theme() === 'dark' ? '#000000' : '#F7F7F7' }"
  >
  <!-- Logo Container -->
  <div>
    <img

[src]="preference.theme() === 'dark' ? '/assets/images/adahi-dark-mode.svg' : '/assets/images/adahi-logo.svg'"

      alt="Logo"
      class="w-full py-4"
    />
  </div>
  <!-- Title and Dark Mode Toggle Container -->
  <div class="flex items-center gap-5">
    <button
      class="flex items-center px-4 py-2 gap-3 border-[1px] rounded-md"
      [ngClass]="{
        'border-[#ffff]': isDarkMode,
        'border-[#88774F]': !isDarkMode
      }"
      (click)="resetFilters()"
    >
      إعادة ضبط
      <img
        [src]="
          isDarkMode
            ? 'assets/icons/refreshDark.svg'
            : 'assets/icons/refresh.svg'
        "
        alt=""
      />
    </button>


     <button
      class="flex items-center px-4 py-2 gap-3 border-[1px] rounded-md"
      [ngClass]="{
        'border-[#ffff]': isDarkMode,
        'border-[#88774F]': !isDarkMode
      }"
      (click)="show3D()"
    >
 Toggle 3D

    </button>

    <div class="flex justify-center items-center">


         <button
    class="relative w-12 h-6 bg-gray-300 dark:bg-[#1E552A] rounded-full transition-colors duration-300"
    (click)="preference.toggleTheme()"
  >
    <span
      class="absolute top-0.5 left-0.5 w-5 h-5 rounded-full flex items-center justify-center text-white transition-transform duration-300"
      [ngStyle]="{
        transform: preference.theme() === 'dark' ? 'translateX(0)' : 'translateX(24px)'
      }"
      [ngClass]="{
        'bg-[#333]': preference.theme() === 'dark',
        'bg-[#1E552A]': preference.theme() === 'light'
      }"
    >
      <i [ngClass]="preference.theme() === 'dark' ? 'pi pi-moon' : 'pi pi-sun'"></i>
    </span>
  </button>





 <button class=" mx-2" (click)="toggleLang()">
      <i class="pi pi-language"  ></i>
    </button>

    </div>

    <h1 class="font-bold text-3xl "> {{'NAV.TITLE' | translate}}</h1>
  </div>
</header>
