<header
  class="flex items-center justify-between header dark:bg-[#000000] dark:text-white"
>
  <!-- Logo Container -->
  <div>
    <img
      [src]="
        isDarkMode
          ? 'assets/images/mekkah-logo-dark-mode.svg'
          : 'assets/images/mekkah-logo.svg'
      "
      alt="Logo"
      class="w-full px-4"
    />
  </div>
  <!-- Title and Dark Mode Toggle Container -->
  <div class="flex items-center gap-5">
    <button
      class="flex items-center px-4 py-2 gap-3 border-[1px] rounded-md"
      [ngClass]="{
        'border-[#ffff]': isDarkMode,
        'border-[#88774F]': !isDarkMode
      }"
      (click)="resetFilters()"
    >
      إعادة ضبط
      <img
        [src]="
          isDarkMode
            ? 'assets/icons/refreshDark.svg'
            : 'assets/icons/refresh.svg'
        "
        alt=""
      />
    </button>

    <div class="flex justify-center items-center">
      <button
        (click)="toggleDarkMode()"
        class="relative w-16 h-8 bg-gray-300 dark:bg-gray-700 rounded-full flex items-center px-1 transition-colors duration-300"
      >
        <!-- Sun Icon (Shown in Light Mode) -->
        <img
          src="assets/icons/sun-icon.svg"
          alt="light-mode-icon"
          class="h-6 w-6 absolute left-1 transition-all duration-300 transform"
          [ngClass]="{
            'translate-x-8 opacity-0': isDarkMode,
            'opacity-100': !isDarkMode
          }"
        />
        <!-- Moon Icon (Shown in Dark Mode) -->
        <img
          src="assets/icons/moon-icon.svg"
          alt="dark-mode-icon"
          class="h-6 w-6 absolute right-1 transition-all duration-300 transform"
          [ngClass]="{
            '-translate-x-8 opacity-0': !isDarkMode,
            'opacity-100': isDarkMode
          }"
        />
      </button>
    </div>

    <h1 class="font-bold text-3xl ml-7">منصة ادراة مشروع الاضاحي</h1>
  </div>
</header>
