* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 60px;
  --side-panel-width: 300px;
  --background-color: #f5f5f5;
  --primary-color: #ffffff;
  --secondary-color: #e0e0e0;
  --text-color: #333333;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body,
html {
  max-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
}
::ng-deep .p-card{
 margin: 7.5px 15px  !important;
}
 ::ng-deep{

  .p-multiselect-item{
  @apply p-2   gap-4;
}
.p-multiselect-filter-icon  {
  @apply top-[22%];
}
.p-multiselect-header{
  @apply p-2 gap-2;
}
 [data-theme='dark'] .p-multiselect-header  {
    @apply bg-[#1e1e1e] text-white;
  }
  [data-theme='light'] .p-multiselect-header  {
    @apply bg-white text-black;
  }

   [data-theme='light'] .p-multiselect-empty-message  {
    @apply bg-white text-black;
  }
 [data-theme='dark'] .p-multiselect-empty-message  {
    @apply  bg-[#1e1e1e] text-white;
  }
  .p-multiselect-filter  {
    @apply   text-black;
  }

.p-autocomplete-loader{
  @apply top-[22%];
}



 [data-theme='dark'] .p-multiselect-item  {
    @apply bg-[#1e1e1e] text-white;
  }

  [data-theme='light'] .p-multiselect-item  {
    @apply bg-white text-black;
  }



  .p-dropdown-item{
    @apply p-2;
  }

 [data-theme='dark'] .p-dropdown-item  {
    @apply bg-[#1e1e1e] text-white;
  }

  [data-theme='light'] .p-dropdown-item  {
    @apply bg-white text-black;
  }




}

