<p-card>
  <div class="flex flex-col p-2 space-y-2 rounded-[0.34rem]" [ngStyle]="{ 'background-color': preference.theme() === 'dark' ? '#000000' : '#FFFFFF',
  'color': preference.theme() === 'dark' ? '#FFFFFF' : '#000000'
 }">
    <h1>Location</h1>

    <div class="flex flex-col space-y-2">
      <label for="">Select Floor</label>
      <p-dropdown [options]="floors" [(ngModel)]="selectedFloor" optionLabel="name" placeholder="Select Floor"
        class="w-full " styleClass="w-full border-2 border-gray-100 rounded-[0.34rem] p-1" inputStyleClass="w-full"
        (onChange)="onFloorChange($event)"></p-dropdown>

      <label for="">Select Building</label>

      <p-multiSelect [options]="buildings" [(ngModel)]="selectedBuildings" optionLabel="name"
        placeholder="Select Building" class="w-full " styleClass="w-full border-2 border-gray-100 rounded-[0.34rem] p-1"
        inputStyleClass="w-full" (onChange)="onBuildingChange($event)" />

      <label for="">Select Rooms</label>

      <p-multiSelect [options]="rooms" [(ngModel)]="selectedRooms" optionLabel="name" placeholder="Select Room"
        class="w-full " styleClass="w-full border-2 border-gray-100 rounded-[0.34rem] p-1" inputStyleClass="w-full"
        (onChange)="onRoomChange($event)" />
    </div>
  </div>
</p-card>
