<div id="content" class="h-dvh flex flex-col gap-y-4" [ngStyle]="{ 'background-color': preference.theme() === 'dark' ? '#1A1A1A' : '#FFFFFF',
  'color': preference.theme() === 'dark' ? '#FFFFFF' : '#000000'
 }">
  <app-header />
  <p-card class="w-full  overflow-hidden ">
    <div class="flex flex-col lg:flex-row h-full   p-2" [ngStyle]="{ 'background-color': preference.theme() === 'dark' ? '#252525' : '#FFFFFF',
  'color': preference.theme() === 'dark' ? '#FFFFFF' : '#000000'
 }">
      <!-- Side Panel -->
      <div class="lg:w-1/6 w-full lg:flex-none max-h-[30%]">
        <app-side-panel />
      </div>

      <!-- Main Content -->
      <div class="lg:w-5/6 w-full h-full">
        <div class="flex flex-col h-full">
          <app-top-panel class="flex-1" />
          <app-map class="flex-1"  />
        </div>
      </div>
    </div>
  </p-card>
</div>
